.nav
    height: 30px
    display: flex
    padding: 0 40px
    align-items: center
    background-color: #9cd6ba
    justify-content: center
    gap: 100px

    a
        color: #7c6a88
        text-decoration: none
        font-size: 20px
        transition: box-shadow, transform
        transition-duration: 0.5s
        transition-timing-function: ease

        &:hover
            box-shadow: 5px 5px 5px white
            transform: scale(1.1)

.active
    color: #c4a9e5

.counter
    background-color: tomato
    border-radius: 50%
    height: 30px
    width: 30px
    
